.wrapper {
  .intro {
    width: 80vw;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      margin-bottom: 40px;
      text-align: center;
      width: 100%;
			text-wrap: balance;
			max-width: 1240px;
      @media (max-width: 600px) {
      }
      font-size: 70px;
      @media (max-width: 960px) {
        line-height: 40px;
        font-size: 32px;
      }
      @media (max-width: 1440px) {
        width: 100%;
      }
      @media (min-width: 960px) and (max-width: 2000px) {
        font-size: 60px;
      }
			@media (min-width: 1700px) {
				font-size: 58px;
			}
      font-weight: normal;
      line-height: 61px;
    }
  }
  .container {
    // width: 99.1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .section {
			margin-top: 100px;
      max-width: 1242px;
      h1 {
				line-height: 57.6px;
        font-size: 48px;
        font-weight: 500;
        @media (max-width: 600px) {
          font-size: 26px;
        }
				margin-bottom: 30px;
      }
      @media (max-width: 600px) {
        margin-top: 90px;
      }
      width: 90vw;
      @media (min-width: 1800px) {
        width: 80vw;
      }
      position: relative;
      span {
        color: #00748c;
      }
      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1 {
          font-weight: 500;
        }
      }
      .itemsLayout {
        border-radius: 20px;
        margin: 0 -7px;
        max-width: calc(90vw);
        @media (max-width: 800px) {
          max-width: 90vw;
        }
        overflow-x: scroll;
        height: 500px;
        padding: 0 7px;
        box-sizing: content-box;
      }
			.itemsLayout::-webkit-scrollbar {
				width: 0;
			}
      .items {
        min-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 9.74px;
        padding: 0px;
      }
    }
  }
  .mt {
    margin-top: 0;
  }
  .mb {
    margin-bottom: 100px;
  }
  .procat {
    width: 400px;
    @media (max-width: 580px) {
      width: 335px;
      height: 329px;
    }
    @media (min-width: 580px) and (max-width: 1000px) {
      width: 225px;
      height: 300px;
    }
    @media (min-width: 1001px) and (max-width: 1149px) {
      width: 240px;
      height: 300px;
    }
    @media (min-width: 1150px) and (max-width: 1400px) {
      width: 340px;
      height: 300px;
    }
    // @media (min-width: 1800px) {
    //   width: 470px;
    //   height: 450px;
    // }
    height: 390px;
    .img {
      img {
        min-width: 300px;
      }
    }
  }
  .yatch {
    width: 60vw;
    @media (min-width: 600px) and (max-width: 1200px) {
      width: 90vw;
      height: 530px;
    }
    @media (min-width: 550px) and (max-width: 600px) {
      width: 90vw;
      height: 500px;
    }
    @media (min-width: 400px) and (max-width: 550px) {
      width: 90vw;
      height: 400px;
    }
    @media (max-width: 400px) {
      width: 90vw;
      height: 340px;
    }
  }
  .itemsYatch {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 600px) {
      gap: 10px;
    }
    padding: 0px;
  }
}
