.wrapper {
  .container {
    .section {
			margin-top: 100px;
      h1 {
				line-height: 57.6px;
        font-size: 48px;
        font-weight: 500;
        @media (max-width: 600px) {
          font-size: 26px;
        }
				margin-bottom: 30px;
      }
      @media (max-width: 600px) {
        margin-top: 90px;
      }
      span {
        color: #00748c;
      }
      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1 {
          font-weight: 500;
        }
      }
      .itemsLayout {
        border-radius: 20px;
        margin: 0 -7px;
        max-width: calc(90vw);
        @media (max-width: 800px) {
          max-width: 90vw;
        }
        overflow-x: scroll;
        height: 500px;
        padding: 0 7px;
        box-sizing: content-box;
      }
			.itemsLayout::-webkit-scrollbar {
				width: 0;
			}
      .items {
        min-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 9.74px;
        padding: 0px;
      }
    }
  }
  .mt {
    margin-top: 0;
  }
  .mb {
    margin-bottom: 100px;
  }
  .procat {
    
    height: 390px;
    .img {
      img {
        min-width: 300px;
      }
    }
  }
  .yatch {
    width: 60vw;
    @media (min-width: 600px) and (max-width: 1200px) {
      width: 90vw;
      height: 530px;
    }
    @media (min-width: 550px) and (max-width: 600px) {
      width: 90vw;
      height: 500px;
    }
    @media (min-width: 400px) and (max-width: 550px) {
      width: 90vw;
      height: 400px;
    }
    @media (max-width: 400px) {
      width: 90vw;
      height: 340px;
    }
  }
  .itemsYatch {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 600px) {
      gap: 10px;
      flex-wrap: wrap;
    }
    padding: 0px;
  }
}
