.wrapper {
  background: url("../../assets/img/bg-footer.png") no-repeat center;
  background-size: cover;
  width: 100vw;
	display: flex;
	justify-content: center;
	.container {
		// max-width: 1240px;
	}
  .row {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 52px 20vw 38px;
    @media (max-width: 600px) {
      padding: 30px 5vw;
    }
    color: #fff;
		gap: 20px;
    font-size: 20px;
    @media (max-width: 600px) {
      font-size: 16px;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    h4 {
      font-size: 18px;
      line-height: 21px;
      @media (max-width: 600px) {
        margin-top: 10px;
        font-size: 16px;
      }
      font-weight: bold;
    }
    .items {
      margin-top: 20px;
      max-width: 260px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      font-weight: 400;
      a {
        font-size: 16px;
        line-height: 23px;
        text-wrap: balance;
        width: 260px;
        flex-grow: 1;
      }

      &.social {
        margin-top: 12px;

        img {
          margin-right: 20px;
        }

        &:first-of-type {
          margin-bottom: 24px;
        }
      }
    }
  }
  .row__two {
    border-top: 1px solid #fff;
    padding: 0 20vw;
    @media (max-width: 600px) {
      padding: 5px 5vw 0 5vw;
    }
    color: #fff;
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    .logo {
      font-weight: 900;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 25px;
      img {
        height: 100px;
      }
    }
  }
}
