.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20373c99; 

}
