.wrapper {
	width: 100vw;
	overflow-y: scroll;
	@media (min-width: 800px) {
		overflow-y: visible;
	}
	white-space:nowrap;
  .categorys {
		white-space:nowrap;
		padding-bottom: 30px;
    width: 800px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    display: flex;
    gap: 36px;
    color: #000;
    font-weight: bold;
    .item {
      height: 30px;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #728487;
      border-bottom: 2px solid transparent;
      cursor: pointer;
    }
    .active {
      color: #00748c;
      border-bottom: 2px solid #00748c;
    }
  }
}

.wrapper::-webkit-scrollbar {
  width: 0;
}